<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>251225470376-3svnek752hbgg6ah1p1f7dvhtjt3m89r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.251225470376-3svnek752hbgg6ah1p1f7dvhtjt3m89r</string>
	<key>API_KEY</key>
	<string>AIzaSyAL0tjTdhPiL5DJAmogdOyn3uIlyq2a1P8</string>
	<key>GCM_SENDER_ID</key>
	<string>251225470376</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.ac.jbnu.MEDi</string>
	<key>PROJECT_ID</key>
	<string>medi-f1c5a</string>
	<key>STORAGE_BUCKET</key>
	<string>medi-f1c5a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:251225470376:ios:31f888458c2d4c2e4c599d</string>
	<key>DATABASE_URL</key>
	<string>https://medi-f1c5a.firebaseio.com</string>
</dict>
</plist>